<% provide(:title, "index") %> 

<h1>Articles</h1>

<div class="clearfix">
  <% if @posts.empty? %>
    <p>There aint no post.</p>
  <% else %>
    <div class="posts">
      <% @posts.each do |p| %>
        <div class="post"> 
          <h3><%= link_to "#{p.title}", post_path(p.id) %></h3>
          <p><%= p.content %></p>
          <span class="bg-info"><%= pluralize(p.comments.count, "commentaire")%></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>